{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}

    {% if message.tags == 'error' %}
    <div class="alert alert-danger">
    {{message}}
    </div>
    {% else %}
    <div class="alert alert-{{message.tags}}">
    {{message}}
    </div>
    {% endif %}

    {% endfor %}
          {% endif %}
      <div class="news_section layout_padding">
      <div class="container">
         <h1 class="client_taital">Napisz do nas</h1>
          <div class="email_text">
                <form method="POST" action="{% url 'send_question_email_view' %}">
        {% csrf_token %}
        {{ form.dane }}
        {{ form.temat }}
        {{ form.nrtel }}
        {{ form.email }}
        {{ form.wiadomosc }}

        <div class="send_btn">
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </div>
    </form>
          </div>
          <br>
          <br>
          <br>
      </div>
      </div>
          <br>
          <br>
          <br>
<div class="news_section layout_padding">
         <div class="container">
                    {% for contact in contacts %}
         <h3 class="news_text"><b>{{ contact.Nazwa }}</b></h3>
         <h3 class="news_text">Telefon </h3><h2 class="news_text"><b>{{ contact.NrTel }}</b></h2>
         <h3 class="news_text">E-mail </h3><h2 class="news_text"> <b>{{ contact.EMail }}</b></h2>
         {% endfor %}
         </div>
      </div>
{% endblock %}

