{% extends 'base_profile.html' %}
{% load timetags %}

{% block content %}

<div class="news_section layout_padding">
    <div class="container">
      {% if subscription and subscription.status == "active" %}
      <div class="news_section_2">
        <div class="row">
          <div class="col-md-12">
            <div class="news_taital_box">
              <h1 class="client_taital">Subskrybcja została aktywowana</h1>
              <h1 class="client_taital">{{ product.name }}</h1>
              <br>
              <h1 class="client_taital">Rozpoczęcie: {{ subscription.current_period_start | print_timestamp }}</h1>
              <h1 class="client_taital">Odnowienie: {{ subscription.current_period_end | print_timestamp }}</h1>
              <br>
              <p class="lorem_text">W ciągu 48h otrzymasz email z potwierdzeniem działania strony na serwerze. Jeśli go nie otrzymasz skontaktuj się z nami. W przypadku rezygnacji również prosimy o kontakt!</p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="send_btn">
        <button type="submit" class="send_btn" id="submitBtn">Subskrybuj</button>
      </div>
      {% endif %}
    </div>
</div>

{% endblock %}

