{% extends 'base_profile.html' %}
{% load timetags %}

{% block content %}

<h1 class="banner_taital">Subskrypcja administracyjna</h1>

    <div class="client_section layout_padding">
      <div class="container">
        <div class="email_text">
      {% if subscription and subscription.status == "active" %}
      <h4>Twoja subskrybcja:</h4>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Rozpoczęcie: {{ subscription.current_period_start | print_timestamp }}</p>
          <p class="card-text">Odnowienie: {{ subscription.current_period_end | print_timestamp }}</p>
        </div>
      </div>
      {% else %}
          <div class="send_btn">
            <button type="submit" class="send_btn" id="submitBtn">Subskrybuj</button>
          </div>
      {% endif %}
        </div>
      </div>
    </div>

{% endblock %}
