{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
      {% for start in starts %}
         <div class="banner_section layout_padding">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <h1 class="client_taital">{{ start.title }}</h1>
                        <p class="banner_text">{{ start.description|linebreaksbr }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      {% endfor %}

{% endblock %}